.navbar-nav{
    display: flex;
    justify-content: flex-end;
    color: white;
}
.navbar-nav .nav-item{
    padding-right: 10px;
    font-size: 14px;
}
.navbar.navbar-expand-lg {
    background-color: rgba(2, 80, 90, 0.947);
}
.navbar.navbar-expand-lg a {
    color: white;
}
.input-group-prepend{
    background-color: white;
}

.input-group-prepend i{
    color: black;
}

.custom-button:active,
.custom-button:focus {
    background-color: transparent !important; /* Change the button's background color on click to transparent */
    border-color: transparent !important; /* Change the button's border color on click to transparent */ /* Change the button's text color on click to your desired color (green in this example) */
}

.dropdown-menu .dropdown-item {
    color: black !important;;
}

#search{
    padding: 0;
}

.card-header{
    background-color: rgba(2, 80, 90, 0.947);
    color: white;
    font-size: small;
}

.col-2 {
    margin-top: 60px;
}

.col-2 .card{
    margin: 30px;
    font-size: smaller;
} 

.col-10 > nav.section{
margin-top: 20px;
border-radius: 5px;
background-color: #e9ecef;
padding-left: 10px;
padding-top: 3px;
padding-bottom: 3px;
font-size: 20px;
font-weight: 500;
margin-right: 10px;
}

.navbar-separator{
    color: gray;
    font-size: 25px;
}

.col-4 .jumbotron{
    margin-top: 20px;
}

#input1,#input2{
    border: none;
    margin-bottom: 20px;
    width: 100%;
}

.gen_reset{
    display: inline;
    font-size: small;
}
.gen_reset button {
    margin-right: 10px;
}
.gallery{
    background-color:rgba(2, 80, 90, 0.947) ;
    padding: 40px;
    color: white;
    padding-bottom: 10px;
}

.no_yes {
    display: flex;
}

.image-with-text {
    text-align: center;
}
.styled-text{
    margin-left: 20px;
    background-color: rgba(2, 80, 90, 0.947);
    color:white;
    font-size: large;
    font-style: italic;
}

.col-7 .card{
    padding:20px;
    padding-bottom: 50px;
}
.s1{
    margin-top: 25px;
}

.card-img{
    padding-left: 20px;
    height: 300px;
    width: 300px;
}

.card_header{
    margin: 20px;
    margin-top: 25px;
    padding:20px;
    width: 150px;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    border-radius: 5px;
}


.main_section {
    height: 100vh;
    transition: transform 0.5s ease-in-out; 
}
.carousel-item >img{
    height: 100vh;
}

#more{
    font-style: italic;
    color: rgba(2, 80, 90, 0.947);
    padding-top: 250px;
    font-family: cursive;
}
.explore{
    padding-left: 40px;
    padding-right: 20px;
}

#offline{
    font-style: italic;
    color: rgba(2, 80, 90, 0.947);
    font-family: cursive;
}

.contact{
    background-color:rgba(2, 80, 90, 0.947) ;
    padding: 30px;
    padding-bottom: 10px;
    color: white;
    font-size: larger;
}

.follow{
    background-color:rgba(2, 80, 90, 0.947) ;
    padding: 15px;
    color: white;
    font-size: larger;
    padding-bottom: 10px;
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.last{
    border-bottom: none;
    padding-bottom: 150px;
}
.insta{
    font-style: italic;
    font-family: cursive;
    
}